<main class="main">
  <div class="content">

    <div class="row">
      <div class="col-md-6">
        <div class="inputWrapper" style="margin-bottom: 15px;">
          <div class="descriptionText">
            <label>Type the name of the show!!! </label><br>

          </div>
          <div class="dropdown-filter">
            <input type="text" [(ngModel)]="showTitle" class="form-control" placeholder="Name of the show" />

          </div>

        </div>
        <div class="inputWrapper" style="margin-bottom: 15px;">
          <div class="descriptionText">
            <label>Create your dream setlist for KGLW show!!! </label><br>
            <label>Max 3 Hours!!</label>
          </div>
          <div class="dropdown-filter">
            <input type="text" [(ngModel)]="searchSong" (input)="filterSongs()" placeholder="Type to filter a song"
              class="form-control" />

            <ul class="dropdown-list" *ngIf="filteredSongs.length > 0">
              <li *ngFor="let song of filteredSongs" (click)="selectSong(song)">
                {{ song.Title }}
              </li>
            </ul>
          </div>
          <div class="totalHourContainer">
            <label>Total time: {{getFormattedTime()}}</label>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="posterWrapper" id="poster">
          <img class="topLogo" src="{{selectedLogo}}" />

          <div class="cardList">
            <div class="headerCard">
              <label class="locationText">{{showTitle}}</label>
            </div>
            <div class="contentCard">
              <div class="songItem" *ngFor="let song of selectedSongs;let i = index">
                <label *ngIf="selectedSongs.length == i+1" id="excluirMusic" class="descriptionText"
                  (click)="removeSong(song)">X</label><label>{{i+1}}.
                  {{song}}</label>
              </div>



            </div>
          </div>
        </div>

        <div class="containerBtn">
          <button type="button" class="btn btn-primary btnConfirm" data-bs-toggle="modal" data-bs-target="#exampleModal"
            (click)="capturarPoster()">
            Ok! Lets Ride!
          </button>
          <!--MODAL-->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-body" id="bodyImg">

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary btnConfirm" (click)="savePoster()">Save image!!</button>
                </div>
              </div>
            </div>
          </div>
          <!--MODAL-->


        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-6">

        <div class="row">
          <div class="col-md-4">
            <div class="inputWrapper">
              <div class="descriptionText">
                <label>Card Background!!! </label><br>

              </div>
              <div class="dropdown-filter">
                <input type="color" id="colorPicker" [(ngModel)]="cardbackgroundColor" name="colorPicker"
                  value="#ff0000" (change)="colorChanged()">

              </div>


            </div>
          </div>
          <div class="col-md-4">
            <div class="inputWrapper">
              <div class="descriptionText">
                <label>Header Background!!! </label><br>

              </div>
              <div class="dropdown-filter">
                <input type="color" id="colorPicker" [(ngModel)]="cardHeaderbackgroundColor" name="colorPicker"
                  value="#ff0000" (change)="colorChanged()">

              </div>


            </div>
          </div>
          <div class="col-md-4">
            <div class="inputWrapper">
              <div class="descriptionText">
                <label>Background!!! </label><br>

              </div>
              <div class="dropdown-filter">
                <input type="color" id="colorPicker" [(ngModel)]="backgroundColor" name="colorPicker" value="#ff0000"
                  (change)="colorChanged()">

              </div>


            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="inputWrapper">
              <div class="descriptionText">
                <label>Header Font!!! </label><br>

              </div>
              <div class="dropdown-filter">
                <input type="color" id="colorPicker" [(ngModel)]="headerFontColor" name="colorPicker" value="#ff0000"
                  (change)="colorChanged()">

              </div>


            </div>
          </div>
          <div class="col-md-4">
            <div class="inputWrapper">
              <div class="descriptionText">
                <label>Songs font!! </label><br>

              </div>
              <div class="dropdown-filter">
                <input type="color" id="colorPicker" [(ngModel)]="corpoFontColor" name="colorPicker" value="#ff0000"
                  (change)="colorChanged()">

              </div>


            </div>
          </div>
          <div class="col-md-4">
            <div class="inputWrapper">
              <div class="descriptionText">
                <label>border color!!! </label><br>

              </div>
              <div class="dropdown-filter">
                <input type="color" id="colorPicker" [(ngModel)]="borderColor" name="colorPicker" value="#ff0000"
                  (change)="colorChanged()">

              </div>


            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <label class="descriptionText">Title Font!!! </label><br>
            <select class="form-control" [(ngModel)]="titleFont" (ngModelChange)="fontChanged()">
              <option value="Helvetica">Helvetica</option>
              <option value="DXS Checkmate">DXS Checkmate</option>
              <option value="Davida">Davida</option>
              <option value="Times New Roman Grassetto">Times New Roman Grassetto</option>
              <option value="Roberta">Roberta</option>
              <option value="DeVinne">DeVinne</option>
              <option value="Robur">Robur</option>

            </select>
          </div>
          <div class="col-xs-6">
            <label class="descriptionText">Songs Font!!! </label><br>
            <select class="form-control" [(ngModel)]="songsFont" (ngModelChange)="fontChanged()">
              <option value="Helvetica">Helvetica</option>
              <option value="DXS Checkmate">DXS Checkmate</option>
              <option value="Davida">Davida</option>
              <option value="Times New Roman Grassetto">Times New Roman Grassetto</option>
              <option value="Roberta">Roberta</option>
              <option value="DeVinne">DeVinne</option>
              <option value="Robur">Robur</option>

            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <label class="descriptionText">Logo!!! </label><br>
            <select class="form-control" [(ngModel)]="selectedLogo" (ngModelChange)="logoChanged()">
              <option *ngFor="let logo of logos" [value]="logo.path">{{logo.description}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <img src="assets/cyboogie.jpg" alt="logo" style="max-width: 100px;">
      <span class="text-muted" style="color: white !important;">Made by &#64;jaogizzvito, a javascript person</span>
    </div>
  </footer>
</main>