body {
    background-color: black !important;
    font-family: 'Roboto' !important;
}



:root {
    --card-background-color: #EED01C;
    --card-header-background-color: #FE0100;
    --background-color: #000000;
    --header-font-color: #000000;
    --corpo-font-color: #000000;
    --border-color: #000000;

    --title-font: 'Helvetica';
    --songs-font: 'Helvetica';
}

@font-face {
    font-family: 'DXS Checkmate';
    src: font-url('DXS_Checkmate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Davida';
    src: font-url('DavidaOpti-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Times New Roman Grassetto';
    src: font-url('times-new-roman-grassetto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roberta';
    src: font-url('roberta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DeVinne';
    src: font-url('De_Vinne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robur';
    src: font-url('robur.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: font-url('Helvetica-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}