body {
    background-color: black !important;
    font-family: 'Roboto' !important;
}



:root {
    --card-background-color: #EED01C;
    --card-header-background-color: #FE0100;
    --background-color: #000000;
    --header-font-color: #000000;
    --corpo-font-color: #000000;
    --border-color: #000000;

    --title-font: 'Helvetica';
    --songs-font: 'Helvetica';
}